
    <div class="container">
        <div class="row g-3 mt-5">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="row g-3">
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://images-platform.99static.com//9ogHx5JG1u-3oVmBDpICV4OB9PA=/60x52:1882x1874/fit-in/500x500/99designs-contests-attachments/123/123255/attachment_123255102" class="card-img-top" alt="...">
                            <div class="card-body text-center">  
                              <h5 class="card-title">Here for you</h5>
                              <p class="card-text">This is a nice book</p>
                              <p class="card-text">140</p>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://images-platform.99static.com//9ogHx5JG1u-3oVmBDpICV4OB9PA=/60x52:1882x1874/fit-in/500x500/99designs-contests-attachments/123/123255/attachment_123255102" class="card-img-top" alt="...">
                            <div class="card-body text-center">  
                              <h5 class="card-title">Here for you</h5>
                              <p class="card-text">This is a nice book</p>
                              <p class="card-text">140</p>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://images-platform.99static.com//9ogHx5JG1u-3oVmBDpICV4OB9PA=/60x52:1882x1874/fit-in/500x500/99designs-contests-attachments/123/123255/attachment_123255102" class="card-img-top" alt="...">
                            <div class="card-body text-center">  
                              <h5 class="card-title">Here for you</h5>
                              <p class="card-text">This is a nice book</p>
                              <p class="card-text">140</p>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://images-platform.99static.com//9ogHx5JG1u-3oVmBDpICV4OB9PA=/60x52:1882x1874/fit-in/500x500/99designs-contests-attachments/123/123255/attachment_123255102" class="card-img-top" alt="...">
                            <div class="card-body text-center">  
                              <h5 class="card-title">Here for you</h5>
                              <p class="card-text">This is a nice book</p>
                              <p class="card-text">140</p>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://images-platform.99static.com//9ogHx5JG1u-3oVmBDpICV4OB9PA=/60x52:1882x1874/fit-in/500x500/99designs-contests-attachments/123/123255/attachment_123255102" class="card-img-top" alt="...">
                            <div class="card-body text-center">  
                              <h5 class="card-title">Here for you</h5>
                              <p class="card-text">This is a nice book</p>
                              <p class="card-text">140</p>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://images-platform.99static.com//9ogHx5JG1u-3oVmBDpICV4OB9PA=/60x52:1882x1874/fit-in/500x500/99designs-contests-attachments/123/123255/attachment_123255102" class="card-img-top" alt="...">
                            <div class="card-body text-center">  
                              <h5 class="card-title">Here for you</h5>
                              <p class="card-text">This is a nice book</p>
                              <p class="card-text">140</p>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://images-platform.99static.com//9ogHx5JG1u-3oVmBDpICV4OB9PA=/60x52:1882x1874/fit-in/500x500/99designs-contests-attachments/123/123255/attachment_123255102" class="card-img-top" alt="...">
                            <div class="card-body text-center">  
                              <h5 class="card-title">Here for you</h5>
                              <p class="card-text">This is a nice book</p>
                              <p class="card-text">140</p>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://images-platform.99static.com//9ogHx5JG1u-3oVmBDpICV4OB9PA=/60x52:1882x1874/fit-in/500x500/99designs-contests-attachments/123/123255/attachment_123255102" class="card-img-top" alt="...">
                            <div class="card-body text-center">  
                              <h5 class="card-title">Here for you</h5>
                              <p class="card-text">This is a nice book</p>
                              <p class="card-text">140</p>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://images-platform.99static.com//9ogHx5JG1u-3oVmBDpICV4OB9PA=/60x52:1882x1874/fit-in/500x500/99designs-contests-attachments/123/123255/attachment_123255102" class="card-img-top" alt="...">
                            <div class="card-body text-center">  
                              <h5 class="card-title">Here for you</h5>
                              <p class="card-text">This is a nice book</p>
                              <p class="card-text">140</p>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://images-platform.99static.com//9ogHx5JG1u-3oVmBDpICV4OB9PA=/60x52:1882x1874/fit-in/500x500/99designs-contests-attachments/123/123255/attachment_123255102" class="card-img-top" alt="...">
                            <div class="card-body text-center">  
                              <h5 class="card-title">Here for you</h5>
                              <p class="card-text">This is a nice book</p>
                              <p class="card-text">140</p>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://images-platform.99static.com//9ogHx5JG1u-3oVmBDpICV4OB9PA=/60x52:1882x1874/fit-in/500x500/99designs-contests-attachments/123/123255/attachment_123255102" class="card-img-top" alt="...">
                            <div class="card-body text-center">  
                              <h5 class="card-title">Here for you</h5>
                              <p class="card-text">This is a nice book</p>
                              <p class="card-text">140</p>
                            </div>
                          </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://images-platform.99static.com//9ogHx5JG1u-3oVmBDpICV4OB9PA=/60x52:1882x1874/fit-in/500x500/99designs-contests-attachments/123/123255/attachment_123255102" class="card-img-top" alt="...">
                            <div class="card-body text-center">  
                              <h5 class="card-title">Here for you</h5>
                              <p class="card-text">This is a nice book</p>
                              <p class="card-text">140</p>
                            </div>
                          </div>
                    </div>
    